:root {
    --background-main-color: #FFFFFF;
    --background-fourth-color: #404BBF;
    --background-third-color: #2E2F42;
    --background-secondary-color: #f4f4fd;
    --background-fifth-color: rgba(46, 47, 66, 0.70)

    --font-heading: 'Raleway', serif;
    --font-text: 'Roboto', sans-serif;

    --font-third-color: #404BBF;
    --font-secondary-color:#434455;
    --font-main-color: #2E2F42;

    --brand-color: #4D5AE5;

    --border-secondary-color: #8E8F99
    --border-main-color: #E7E9FC;
}

.fillter-contact-1 a:hover,
.fillter-contact-2 a:hover {
    color: var(--brand-color);
}

.fillter-contact-1 a:focus,
.fillter-contact-2 a:focus {
    color: var(--brand-color);
}

.fillter-web-links a:hover {
    color: var(--brand-color);
}

.fillter-web-links a:focus {
    color: var(--brand-color);
    
}


.social-links button:hover {
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--background-main-color);
    background: var(--background-fourth-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.social-links button:focus {
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--background-main-color);
    background: var(--background-fourth-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0;
    padding: 0 15px 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--background-main-color);
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: 1440px;
    min-height: 100%;
    background: var(--background-main-color);

}

.hidden-heading {
    visibility: hidden;
}

a:link {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    text-decoration: none;
    appearance: none;
    background-color: transparent;

}

.fillter-web-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px;
    gap: 40px;
    width: auto;
    flex-shrink: 0;
}

.head-links {
    display: flex;
    align-items: center;
}


.fillter-contact-links {
    display: flex;
    color: var(--font-secondary-color);
    /* Body */
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    gap: 40px;
    /* 150% */
    letter-spacing: 0.23px;
    padding: 0;
    margin: 0;
    padding-left: 332px;
}

.fillter-contact-2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.fillter-contact-1 a,
.fillter-contact-2 a {
    width: 153px;
    height: 24px;
    display: flex;
    color: var(--font-secondary-color);
    /* Body */
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.23px;
    margin-left: auto;
}



.fillter-studio {
    width: 44px;
    height: fit-content;
    padding: 0px;
    color: var(--brand-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.fillter-logo-links {
    height: 24px;
    width: fit-content;
    flex-shrink: 0;
    margin: 0px 70px 0px 0px;
}

.fillter-logo-links-bottom {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
    flex-shrink: 0;
    
}

.fillter-links a{
    display: flex;
    color: var(--font-main-color);
    /* Body Medium */
    width: fit-content;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 40px;
    align-items: flex-start;
    /* 150% */
    letter-spacing: 0.02em;
}


nav li .fillter-links {
    display: inline-block;
}

.fillter-name {
    display: inline-flex;
    margin-right: auto;
    width: 71px;
    padding-left: 0px;
    color: var(--font-main-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-info {
    display: flex;
    background: var(--font-main-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/goit-markup-hw-04/images/office-people.jpg);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
}

.fillter-service-btn {
    color: var(--background-main-color);
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    font-style: Roboto;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.fillter-service-btn:hover {
    background-color: var(--background-fourth-color);
}

.fillter-service-btn:focus {
    background-color: var(--background-fourth-color);
}

.fillter-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: var(--background-secondary-color);
    border-radius: 4px;
}

.fillter-icons {
    display: flex;
    width: 64px;
    height: 64px;
}

.fillter-business {
    display: flex;
    width: 496px;
    color: var(--background-main-color);
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.order-service {
    align-items: center;
    width: 496px;
    color: var(--background-main-color);
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.fillter-order-service {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: var(--brand-color);
    text-align: center;
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;
}

.side-info {
    display: flex;
    justify-content: space-between;
    margin: 120px 0px 0px 156px;
    padding: 0;
    gap: 24px;
    flex-direction: row;
    width: 264px;
}

.fillter-paragraph {
    display: flex;
    height: auto;
    width: 264px;
    color: var(--font-main-color);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin: 0px;
}

.fillter-row-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studio-info {
    width: 1128px;
    height: 412px;
    flex-shrink: 0;
    margin-top: 552px;
}

.fillter-team-section {
    display: flex;
    flex-shrink: 0;
    width: 1440px;
    height: 732px;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    background: var(--background-main-color);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-main-color);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 120px 0px 72px 0px;
    flex-direction: column;
    align-content: flex-start;
}

.fillter-team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 0px 0px 0px;
    height: 438px;
    border-radius: 0px 0px 4px 4px;
    background: var(--background-main-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.fillter-social-img {
    margin-bottom: 32px;
}


.fillter-team-names {
    color: var(--font-main-color);
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    gap: 8px;
    margin-bottom: 0px;

}

.fillter-team-ocupation {
    color: var(--font-secondary-color);
    text-align: center;
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-top: 0px;
}

.fillter-customers {
    width: 1440px;
    height: 432px;
    display: flex;
    align-items: center;
}

.fillter-social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px 0px 5px 0px;
}

.fillter-social-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.fillter-social {
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.fillter-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-main-color);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.03em;
    text-transform: capitalize;
}

.fillter-bottom-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 72px 0px 120px 0px;
    
}


.fillter-bottom-icons-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 1440px;
    gap: 24px;
}

.fillter-bottom-icons {
    display: flex;
    justify-content: center;
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--lightslate,#8E8F99);
    margin: 0;
    cursor: pointer;
}

menu,
li {
    list-style-type: none;
}

.fillter-item button{
    color: var(--brand-color);
    text-align: inherit;
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    text-decoration: none;
    padding: 12px 24px;
    cursor: pointer;
}

.social-links {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-emphasis: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.social-links button{
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--background-secondary-color);
}

.portfolio-list {
    width: 360px;
    padding: 0;
    margin-left: 156px;
    flex-direction: column;
    align-items: normal;
    flex-shrink: 0;
    background: var(--background-main-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;
}

.portfolio-list img,
.portfolio-list li {
    border: 1px solid var(--cornflower, #E7E9FC);
}

.portfolio-list li .fillter-portfolio-text {
    gap: 32px;
}

.fillter-portfolio-maintext {
    display: inline;
    width: 290px;
    height: 24px;
    color: var(--font-main-color);

    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    padding-bottom: 0px;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--background-main-color);
}

.fillter-portfolio-sidetext {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 24px;
    color: var(--font-secondary-color);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.fillter-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 1440px;
    height: 312px;
    background: var(--font-main-color);
}

.fillter-bottom-studio {
    display: flex;
    width: 44px;
    padding: 0px;
    color: var(--brand-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.fillter-footer-name {
    display: flex;
    width: 71px;
    padding: 0%;
    flex-direction: column;
    justify-content: left;
    color: var(--background-secondary-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.fillter-footer-info {
    display: flex;
    width: 264px;
    color: var(--background-secondary-color);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    gap: 18px;
    justify-content: center
}

.fillter-footer-icons-list {
    display: flex;
    align-items: center; 
    width: 264px;
    margin: 0px 0px 0px 120px;
    flex-wrap: nowrap;
}

.fillter-bottom-section-logo {
    margin-left: 156px;
    width: 264px;
}

.fillter-studio-info {
    display: flex;
    margin: auto;
    width: 1440px;
    height: 412px;
    flex-direction: column;
    align-items: center;
    margin: 120px 0px 0px 0px;
}

.fillter-img {
    display: flex;
    gap: 24px;
    padding: 0px 0px 0px 15px;
    margin: 0;
    flex-direction: row;
}

.fillter-studio-paragraph {
    display: flex;
    margin: 0px 0px 72px 0px;
    color: var(--font-main-color);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    justify-content: center;
}

.fillter-paragraph-info {
    width: 264px;
    height: fit-content;
    margin: 0px 0px 0px 0px;
    color: var(--font-secondary-color);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.fillter-bottom-social {
    display: flex;
    justify-content: center;
}

.fillter-social-heading {
    display: flex;
    width: 103px;
    color: var(--background-main-color);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.fillter-socialmedia-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.fillter-footer-social-links {
    gap: 16px;
    cursor: pointer;
}

